#page-create-orphanages {
  display: flex;
  min-width: 100vh;
}

main {
  flex: 1;
}

aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem;
  background: #15c3d6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  border: none;
  background: #12afcb;
  border-radius: 1.6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

aside.sidebar footer button:hover {
  background: #17d6eb;
}

.with-sidebar {
  padding-left: 11rem;
}

form {
  width: 70rem;
  margin: 6.4rem auto;
  padding: 8rem;
  background: #fff;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  overflow: hidden;
}
/* Map  */
.map-container {
  margin: 0 0 4rem;
  background: #e6f7fb;
  border: 1ps solid #DDE3F0;
  border-radius: 2rem;
}

#mapid {
  width: 100%;
  height: 28rem;
}

.map-container footer {
  background: #f5f8fa;
  border-radius: 0 0 20px 20px;
  padding: 2rem;
  
  text-align: center;
}

.map-container footer a {
  color: #0089a5;
  font-weight: 700;
  text-decoration: none;
}

.map-container .leaflet-container {
  border-bottom: 1px solid #dde3f0;
  border-radius: 2rem 2rem 0 0;
}

